.container {
  max-width: 1280px;
  margin: 0 auto;
}

.container_V1 {
  display: flex;
  flex-direction: column;
}

@media only screen and (min-width: 768px) {
  .container_V1 {
    flex-direction: column-reverse;
  }
}
@media only screen and (min-width: 1024px) {
  .container_V1 {
    flex-direction: column;
  }
}

.section {
  padding: 1.43rem 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
  white-space: nowrap;
  clip-path: inset(100%);
}
