<div class="modal__overlay js-modal-catalog">
  <div class="modal">
    <form class="modal__search-form">
      <div class="modal__search-wrapper">
        <label for="search-input" class="visually-hidden">Search</label>
        <input
          class="modal__search-input"
          type="text"
          id="search-input"
          name="search-input"
          placeholder="Search"
        />
        <button class="modal__search-button">
          <svg class="modal__search-icon" width="20" height="20">
            <use href="assets/images/sprite.svg#search"></use>
          </svg>
        </button>
      </div>
    </form>
    <ul class="modal__catalog-list js-modal__catalog-list">
      <li class="modal__catalog-item">
        <a
          data-name="phones"
          href="category.html"
          class="modal__catalog-link modal__catalog-link--smartphone"
          id="smartphone-link"
        >
          <svg class="modal__catalog-icon" width="20" height="20">
            <use href="assets//images/sprite.svg#smartphone"></use>
          </svg>
          Smartphones
          <svg class="modal__catalog-arrow" width="20" height="20">
            <use href="assets/images/sprite.svg#arrow"></use>
          </svg>
        </a>
      </li>
      <li class="modal__catalog-item">
        <a
          data-name="smartWatches"
          href="category.html"
          class="modal__catalog-link modal__catalog-link--watch"
          id="watch-link"
        >
          <svg class="modal__catalog-icon" width="20" height="20">
            <use href="assets//images/sprite.svg#watch"></use>
          </svg>
          Smartwatches
          <svg class="modal__catalog-arrow" width="20" height="20">
            <use href="assets/images/sprite.svg#arrow"></use>
          </svg>
        </a>
      </li>
      <li class="modal__catalog-item">
        <a
          data-name="tV"
          href="category.html"
          class="modal__catalog-link modal__catalog-link--tv"
          id="tv-link"
        >
          <svg class="modal__catalog-icon" width="20" height="20">
            <use href="assets//images/sprite.svg#tv"></use>
          </svg>
          TVs & Accessories
          <svg class="modal__catalog-arrow" width="20" height="20">
            <use href="assets/images/sprite.svg#arrow"></use>
          </svg>
        </a>
      </li>
      <li class="modal__catalog-item">
        <a
          data-name="audio"
          href="category.html"
          class="modal__catalog-link modal__catalog-link--audio"
          id="audio-link"
        >
          <svg class="modal__catalog-icon" width="20" height="20">
            <use href="assets//images/sprite.svg#audio"></use>
          </svg>
          Audio & Sound Systems
          <svg class="modal__catalog-arrow" width="20" height="20">
            <use href="assets/images/sprite.svg#arrow"></use>
          </svg>
        </a>
      </li>
      <li class="modal__catalog-item">
        <a
          href="category.html"
          class="modal__catalog-link modal__catalog-link--hair"
          id="hair-link"
        >
          <svg class="modal__catalog-icon" width="20" height="20">
            <use href="assets//images/sprite.svg#hair"></use>
          </svg>
          Hair Dryers & Styling Tools
          <svg class="modal__catalog-arrow" width="20" height="20">
            <use href="assets/images/sprite.svg#arrow"></use>
          </svg>
        </a>
      </li>
      <li class="modal__catalog-item">
        <a
          href="category.html"
          class="modal__catalog-link modal__catalog-link--console"
          id="console-link"
        >
          <svg class="modal__catalog-icon" width="20" height="20">
            <use href="assets//images/sprite.svg#console"></use>
          </svg>
          Gaming Consoles & Accessories
          <svg class="modal__catalog-arrow" width="20" height="20">
            <use href="assets/images/sprite.svg#arrow"></use>
          </svg>
        </a>
      </li>
      <li class="modal__catalog-item">
        <a
          href="category.html"
          class="modal__catalog-link modal__catalog-link--oven"
          id="oven-link"
        >
          <svg class="modal__catalog-icon" width="20" height="20">
            <use href="assets//images/sprite.svg#oven"></use>
          </svg>
          Stoves & Cooktops
          <svg class="modal__catalog-arrow" width="20" height="20">
            <use href="assets/images/sprite.svg#arrow"></use>
          </svg>
        </a>
      </li>
      <li class="modal__catalog-item">
        <a
          href="category.html"
          class="modal__catalog-link modal__catalog-link--travel"
          id="travel-link"
        >
          <svg class="modal__catalog-icon" width="20" height="20">
            <use href="assets//images/sprite.svg#travel"></use>
          </svg>
          Tourism & Travel
          <svg class="modal__catalog-arrow" width="20" height="20">
            <use href="assets/images/sprite.svg#arrow"></use>
          </svg>
        </a>
      </li>
      <li class="modal__catalog-item">
        <a
          href="category.html"
          class="modal__catalog-link modal__catalog-link--home-living"
          id="home-living-link"
        >
          <svg class="modal__catalog-icon" width="20" height="20">
            <use href="assets//images/sprite.svg#home-living"></use>
          </svg>
          Home & Living
          <svg class="modal__catalog-arrow" width="20" height="20">
            <use href="assets/images/sprite.svg#arrow"></use>
          </svg>
        </a>
      </li>
      <li class="modal__catalog-item">
        <a
          href="category.html"
          class="modal__catalog-link modal__catalog-link--children"
          id="children-link"
        >
          <svg class="modal__catalog-icon" width="20" height="20">
            <use href="assets//images/sprite.svg#children"></use>
          </svg>
          Children's Products
          <svg class="modal__catalog-arrow" width="20" height="20">
            <use href="assets/images/sprite.svg#arrow"></use>
          </svg>
        </a>
      </li>
      <li class="modal__catalog-item">
        <a
          href="category.html"
          class="modal__catalog-link modal__catalog-link--perfumes"
          id="perfumes-link"
        >
          <svg class="modal__catalog-icon" width="20" height="20">
            <use href="assets//images/sprite.svg#perfumes"></use>
          </svg>
          Perfumes & Fragrances
          <svg class="modal__catalog-arrow" width="20" height="20">
            <use href="assets/images/sprite.svg#arrow"></use>
          </svg>
        </a>
      </li>
      <li class="modal__catalog-item">
        <a
          href="category.html"
          class="modal__catalog-link modal__catalog-link--sale"
          id="sale-link"
        >
          <svg class="modal__catalog-icon" width="20" height="20">
            <use href="assets//images/sprite.svg#sale"></use>
          </svg>
          Sales & Promotions
          <svg class="modal__catalog-arrow" width="20" height="20">
            <use href="assets/images/sprite.svg#arrow"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</div>
