<section class="catalog section">
  <h2 class="catalog__title visually-hidden">Catalog</h2>
  <div class="catalog__button js-catalog-button">
    <svg class="catalog-btn-icon" width="18" height="18">
      <use href="/assets/images/sprite.svg#catalog"></use>
    </svg>
    <p class="catalog__button-text">Product catalog</p>
  </div>
  <ul class="catalog__list" id="js-catalog-list">
    <li class="catalog__item">
      <a class="catalog__link" data-name="phones" href="category.html">
        <svg class="catalog__icon" width="40" height="40">
          <use href="/assets/images/sprite.svg#smartphone"></use>
        </svg>
        <span>Smartphones</span>
        <svg class="catalog-arrow" width="20" height="20">
          <use href="assets/images/sprite.svg#arrow"></use>
        </svg>
      </a>
    </li>
    <li class="catalog__item">
      <a class="catalog__link" data-name="smartWatches" href="category.html">
        <svg class="catalog__icon" width="40" height="40">
          <use href="/assets/images/sprite.svg#watch"></use>
        </svg>
        <span>Smartwatches</span>
        <svg class="catalog-arrow" width="20" height="20">
          <use href="assets/images/sprite.svg#arrow"></use>
        </svg>
      </a>
    </li>
    <li class="catalog__item">
      <a class="catalog__link" data-name="tV" href="category.html">
        <svg class="catalog__icon" width="40" height="40">
          <use href="/assets/images/sprite.svg#tv"></use>
        </svg>
        <span>TVs & Accessories</span>
        <svg class="catalog-arrow" width="20" height="20">
          <use href="assets/images/sprite.svg#arrow"></use>
        </svg>
      </a>
    </li>
    <li class="catalog__item">
      <a class="catalog__link" data-name="audio" href="category.html">
        <svg class="catalog__icon" width="40" height="40">
          <use href="/assets/images/sprite.svg#audio"></use>
        </svg>
        <span>Audio & Sound</span>
        <svg class="catalog-arrow" width="20" height="20">
          <use href="assets/images/sprite.svg#arrow"></use>
        </svg>
      </a>
    </li>
    <li class="catalog__item catalog-hidden">
      <a class="catalog__link" data-name="" href="category.html">
        <svg class="catalog__icon" width="40" height="40">
          <use href="/assets/images/sprite.svg#hair"></use>
        </svg>
        <span>Styling Tools</span>
      </a>
    </li>
    <li class="catalog__item">
      <a class="catalog__link" href="category.html">
        <svg class="catalog__icon" width="40" height="40">
          <use href="/assets/images/sprite.svg#console"></use>
        </svg>
        <span>Gaming Consoles</span>
        <svg class="catalog-arrow" width="20" height="20">
          <use href="assets/images/sprite.svg#arrow"></use>
        </svg>
      </a>
    </li>
    <li class="catalog__item">
      <a class="catalog__link" href="category.html">
        <svg class="catalog__icon" width="40" height="40">
          <use href="/assets/images/sprite.svg#oven"></use>
        </svg>
        <span>Stoves & Cook</span>
        <svg class="catalog-arrow" width="20" height="20">
          <use href="assets/images/sprite.svg#arrow"></use>
        </svg>
      </a>
    </li>
    <li class="catalog__item catalog-hidden">
      <a class="catalog__link" href="category.html">
        <svg class="catalog__icon" width="40" height="40">
          <use href="/assets/images/sprite.svg#travel"></use>
        </svg>
        Tourism & Travel
      </a>
    </li>
    <li class="catalog__item catalog-hidden">
      <a class="catalog__link" href="category.html">
        <svg class="catalog__icon" width="40" height="40">
          <use href="/assets/images/sprite.svg#home-living"></use>
        </svg>
        Home & Living
      </a>
    </li>
    <li class="catalog__item catalog-hidden">
      <a class="catalog__link" href="category.html">
        <svg class="catalog__icon" width="40" height="40">
          <use href="/assets/images/sprite.svg#children"></use>
        </svg>
        <span>Children's Products</span>
      </a>
    </li>

    <li class="catalog__item catalog-hidden">
      <a class="catalog__link" href="category.html">
        <svg class="catalog__icon" width="40" height="40">
          <use href="/assets/images/sprite.svg#perfumes"></use>
        </svg>
        <span>Perfumes</span>
      </a>
    </li>
    <li class="catalog__item">
      <a class="catalog__link" href="category.html">
        <svg class="catalog__icon" width="40" height="40">
          <use href="/assets/images/sprite.svg#sale"></use>
        </svg>
        <span>Sales & Promotions</span>
        <svg class="catalog-arrow" width="20" height="20">
          <use href="assets/images/sprite.svg#arrow"></use>
        </svg>
      </a>
    </li>
  </ul>
</section>
