<header class="header">
  <div class="header__top">
    <a href="index.html" class="header__logotype">
      <span class="key">G</span>
      <span class="key">L</span>
      <span class="key">A</span>
      <span class="key">N</span>
      <span class="key">C</span>
      <span class="key">E</span>
    </a>
    <div class="header__top-container">
      <a class="header__shares-link" href="">shares</a>
      <div class="help">
        <svg class="header__phone-icon" width="22" height="22">
          <use href="assets/images/sprite.svg#icon-phone"></use>
        </svg>
        <p class="help-text">Help</p>
        <svg class="header__arrow-icon" width="15" height="15">
          <use href="assets/images/sprite.svg#back"></use>
        </svg>
      </div>
      <div class="lang-swticher">
        <ul class="lang-swticher-list">
          <li class="lang-swticher-item">ENG</li>
          <li class="lang-swticher-item">UKR</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="header__bottom">
    <div class="header__bottom-container">
      <div class="header__bottom-catalog">
        <svg class="header__bottom-icon-c" width="20" height="20">
          <use href="assets/images/sprite.svg#catalog"></use>
        </svg>
        <p class="header__bottom-text">Product catalog</p>
        <svg class="header__bottom-icon-arrow" width="20" height="20">
          <use href="assets/images/sprite.svg#down_arrow"></use>
        </svg>
      </div>
      <div class="header__input-box">
        <label for="search-input" class="visually-hidden">Search</label>
        <input class="header__search" type="text" placeholder="Search" />
        <button class="header__button-search">
          <svg class=".header__search-icon" width="20" height="20">
            <use href="assets/images/sprite.svg#search"></use>
          </svg>
        </button>
      </div>
      <div class="header__bottom-controls">
        <div class="header__bottom-login">
          <a class="header__bottom-login-link" href="#">Log in </a>
        </div>
        <svg class="header__balance-icon" width="22" height="22">
          <use href="assets/images/sprite.svg#balance"></use>
        </svg>
        <svg class="header__like-icon" width="22" height="22">
          <use href="assets/images/sprite.svg#heart"></use>
        </svg>
        <button class="header__bottom-basket" type="button">
          <svg class="header__bottom-like-icon" width="22" height="22">
            <use href="assets/images/sprite.svg#basket"></use>
          </svg>
          Basket
        </button>
      </div>
    </div>
  </div>
</header>
