<div class="menu">
  <nav class="menu__navigation">
    <ul class="menu__list js-menu-list">
      <li class="menu__item">
        <a href="index.html" class="menu__link menu__link--home" id="home-link">
          <svg class="menu__icon menu__icon--home" width="20" height="20">
            <use href="assets/images/sprite.svg#home"></use>
          </svg>
          Home
        </a>
      </li>
      <li class="menu__item">
        <a href="#" class="menu__link menu__link--catalog" id="catalog-link">
          <svg class="menu__icon menu__icon--catalog" width="20" height="20">
            <use href="assets/images/sprite.svg#catalog"></use>
          </svg>
          Catalog
        </a>
      </li>
      <li class="menu__item">
        <a
          href="basket.html"
          class="menu__link menu__link--basket"
          id="basket-link"
        >
          <svg class="menu__icon menu__icon--basket" width="20" height="20">
            <use href="assets/images/sprite.svg#basket"></use>
          </svg>
          Basket
        </a>
      </li>
      <li class="menu__item">
        <a
          href="profile.html"
          class="menu__link menu__link--profile"
          id="profile-link"
        >
          <svg class="menu__icon menu__icon--profile" width="20" height="20">
            <use href="assets/images/sprite.svg#profile"></use>
          </svg>
          Profile
        </a>
      </li>
    </ul>
  </nav>
</div>
