<section class="sales section">
  <h1 class="visually-hidden">Sales</h1>
  <ul class="sales__list">
    <li class="sales__item">
      <img
        class="sales__image"
        src="assets/images/vertical-banners-sales-6.jpg"
        alt="sales"
        width="300px"
        height="300px"
      />
    </li>
    <li class="sales__item">
      <img
        class="sales__image"
        src="assets/images/vertical-banners-sales.jpg"
        alt="sales"
        width="300px"
        height="300px"
      />
    </li>
    <li class="sales__item">
      <img
        class="sales__image"
        src="assets/images/vertical-banners-sales-7.jpg"
        alt="sales"
        width="300px"
        height="300px"
      />
    </li>
    <li class="sales__item">
      <img
        class="sales__image"
        src="assets/images/vertical-banners-sales-2.jpg"
        alt="sales"
        width="300px"
        height="300px"
      />
    </li>
    <li class="sales__item">
      <img
        class="sales__image"
        src="assets/images/vertical-banners-sales-5.jpg"
        alt="sales"
        width="300px"
        height="300px"
      />
    </li>
    <li class="sales__item">
      <img
        class="sales__image"
        src="assets/images/vertical-banners-sales-3.jpg"
        alt="sales"
        width="300px"
        height="300px"
      />
    </li>
    <li class="sales__item">
      <img
        class="sales__image"
        src="assets/images/vertical-banners-sales-4.jpg"
        alt="sales"
        width="300px"
        height="300px"
      />
    </li>
  </ul>
</section>
